<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WWStock.App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WWStock.App.Settings>
            <setting name="Stock" serializeAs="String">
                <value>000001;600026;601111</value>
            </setting>
            <setting name="PositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>200</value>
            </setting>
        </WWStock.App.Settings>
    </userSettings>
</configuration>